---
import CinemaComponent from "../cinema";
import Layout from "../layouts/layout.astro";
import { movies, webSeries, anime, cinemaGallery } from "../data";

const siteTitle = "cinema";
const description = "suggest some great cinema";

const cinemaData = {
  movies,
  webShows: webSeries,
  animes: anime,
  gallery: cinemaGallery,
};
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="description" content={description} />
  <meta property="twitter:title" content=" nitin " />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@nitinnennn" />
  <meta property="og:title" content={siteTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:site_name" content="nitin.vimmer.chat" />
  <meta property="og:url" content="https://nitin.vimmer.chat" />
  <title>{siteTitle}</title>
</head>

<Layout>
  <CinemaComponent initialData={cinemaData} client:load />
</Layout>
