---
import { MusicList } from "../components/ui/MusicList";
import Layout from "../layouts/layout.astro";
import { songs } from "../data";

const siteTitle = "music";
const description = "what I'm listening to";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="description" content={description} />
  <meta property="twitter:title" content=" nitin " />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@nitinnennn" />
  <meta property="og:title" content={siteTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:site_name" content="nitin.vimmer.chat" />
  <meta property="og:url" content="https://nitin.vimmer.chat" />
  <title>{siteTitle}</title>
</head>

<Layout>
  <MusicList initialSongs={songs} client:load />
</Layout>
