---
import ReadingList from "../components/ui/ReadingList";
import Layout from "../layouts/layout.astro";
import { readingItems } from "../data";

const siteTitle = "reading";
const description = "books, manga, web novels and more";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="description" content={description} />
  <meta property="twitter:title" content=" nitin " />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@nitinnennn" />
  <meta property="og:title" content={siteTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:site_name" content="nitin.vimmer.chat" />
  <meta property="og:url" content="https://nitin.vimmer.chat" />
  <title>{siteTitle}</title>
</head>

<Layout>
  <ReadingList initialItems={readingItems} client:load />
</Layout>
